<div class="bg-color">
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid ">
          <a class="navbar-brand shop" href="./main">{{logo}}</a>
          <div class="header-div-2 navigation nav-body">
            <nav class="collapse navbar-collapse nav justify-content-end" id="navbarNavDropdown" [ngClass]="{'is_expanded': isExpanded$ === true }">
              <ul class="navbar-nav ul">
                <li class="nav-item" *ngFor="let nav of navigation">
                  <a
                  class="nav-link"
                  [routerLink]="nav.path"
                  [routerLinkActiveOptions]="{exact: true}"
                  routerLinkActive="active">{{ nav.name }}</a>
                </li>
                <li>
                  <a
                  class="log-out"
                  routerLink="/">Log Out</a>
                </li>
              </ul>
            </nav>
          </div>
          <div *ngIf="!isExpanded$" class="navBar" (click)="open()"><i class="fa-solid fa-bars-staggered"></i></div>
          <div *ngIf="isExpanded$" class="closeBar" (click)="open()"><i class="fa-solid fa-xmark"></i></div>
        </div>
    </nav>
</div>