.shop {
    padding-left: 30px;
    font-size: 25px;
    color: #fff;
}
.nav-link {
    margin-left: 25px;
}
a {
    color: #fff;
}
.bg-color{
    background-color: #182131;
}
.active {
    background-color: rgb(197, 215, 233);
}
.log-out{
    text-decoration: none;
    margin-left: 10px;
}
.log-out:hover {
    color: #962437;
}
.header-div-2 {
    position: relative;
}
.burger-bar {
    display: none;
}
.navBar {
    display: none;
    color: #fff;
    font-size: 25px;
}

@media (max-width: 991px) {
    .navBar {
        display: block;
        position: absolute;
        top: 10;
        right: 1.5rem;
    }
    .nav-body {
        position: relative;
        width: 100%;
    }
    .is_expanded {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;
        background-color: #182131;
        padding: 10px;
    }
    .container-fluid {
        --bs-gutter-x: 0rem;
    }
    .log-out {
        margin-left: 25px;
    }
    .nav-item {
        display: flex;
        align-items: center;
    }
}