.shop {
    padding-left: 30px;
    font-size: 25px;
    color: #fff;
}

a {
    color: #fff;
}
.bg-color{
    background-color: #182131;
}
.active {
    background-color: rgb(197, 215, 233);
}
.log-out{
    text-decoration: none;
    margin-left: 10px;
}
.log-out:hover {
    color: #962437;
}
.header-div-2 {
    position: relative;
}
.burger-bar {
    display: none;
}

@media (max-width: 991px) {
    .header-div-2 {
        height: 80px;
    }
    .burger-bar {
        display: block;
        font-size: 30px;
        position: absolute;
        top: 15px;
        right: 15px;
        color: #fff;
    }
}