.shop {
    padding-left: 30px;
    font-size: 25px;
    color: #fff;
}
a {
    color: #fff;
}
div {
    background-color: #182131;
}
.active {
    background-color: rgb(197, 215, 233);
}
.log-out{
    text-decoration: none;
    margin-left: 20px;
}
.log-out:hover {
    color: #962437;
}