.review-div {
    width: 60%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    margin-bottom: 20px;
    border-radius: 15px;
    background-color:#1d2a3fe1;
    .form {
        width: 70%;
        display: flex;
        flex-direction: column;
        .button {
            width: 130px;
            margin: 0 auto;
        }
        .first-last {
            display: flex;
            .col {
                padding: 10px;
            }
        }
    }
    color: #fff;
}

.pass {
    max-width: 300px;
    margin: 0 auto;
}
.pass-lab {
    display: flex;
    justify-content: center;
}

@media (max-width: 640px){
    .review-div {
        width: 90%;
    }
    .first-last {
        display: flex;
        flex-direction: column;
    }
    .col {
        margin-top: 10px;
    }
}