<div class="main-div">
    <div class="main-text">
        <h3>SHOP YOUR FAVORITE <span>STYLISH</span> ACCESSORIES AND CLOTHES</h3> 
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolorem dolores officiis suscipit quam doloribus, inventore velit iure itaque eos, officia at soluta. Nulla recusandae, porro architecto exercitationem rerum alias reiciendis. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Amet voluptatem nam accusantium repellat voluptatum dolore cupiditate numquam alias rerum similique enim, voluptas architecto doloremque quasi aliquid molestiae, molestias voluptatibus ipsam.
        Sed non aliquam incidunt sint deserunt soluta eius fugiat tenetur vitae aliquid eveniet quam beatae reiciendis recusandae quasi nesciunt blanditiis nemo, aperiam, officia labore. Delectus atque nesciunt voluptate. Accusantium, natus!
        Ratione.</p>
    </div>
    <div>
         <img src="../../assets/main-img.jpg" alt="">
    </div>
</div>
