.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 200px;
}
.delete-btn {
    font-size: 20px;
    color: red;
    border: 1px solid red;
}
.addbtn {
    margin-left: 120px;
    margin-top: 50px;
}
.addbtn-form {
    width: 70%;
    margin: 0 auto;
}
.form-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
h2 {
    display: flex;
    justify-content: center;
    color: rgb(20, 33, 75);
    margin-top: 40px;
}

@media (max-width: 1050px) {
    .form-div {
        display: flex;
        flex-direction: column;
    }
    .btn-success {
        margin-top: 20px;
    }
}