.products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 100%;
    margin: 0 auto;
    margin-top: 20px;
    margin-bottom: 20px;
}
.product {
    margin: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
img {
    width: 200px;
}
.delete-btn {
    font-size: 20px;
    color: red;
    border: 1px solid red;
}
.addbtn {
    margin-left: 120px;
    margin-top: 50px;
}
.addbtn-form {
    width: 70%;
    margin: 0 auto;
}
.form-div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}
h2 {
    display: flex;
    justify-content: center;
    color: rgb(20, 33, 75);
    margin-top: 40px;
}


.pagination-div {
    display: flex;
    justify-content: center;
    align-items: center;
    .pagination {
      list-style: none;
      padding: 0;
      display: flex;
      li {
          margin: 0 5px;
          a {
              text-decoration: none;
              background-color: #00aeff;
              color: white;
              padding: 5px 10px;
              border-radius: 4px;
              cursor: pointer;
              transition: background-color 0.2s;
              &:hover {
                  background-color: #0056b3;
                }
        }
      }
    }
}
.pagination-div .pagination li a.active {
  background-color: #033c46;
}



@media (max-width: 1050px) {
    .form-div {
        display: flex;
        flex-direction: column;
    }
    .btn-success {
        margin-top: 20px;
    }
}

@media (max-width: 652px) {
    .products {
        justify-content: center;
    }
}