<app-header></app-header>
<button (click)= "backPage()" class="btn"><span><</span></button>
<div class="card mb-5 mt-5 m-auto" style="max-width: 1200px;" *ngIf= "productData">
    <div class="row g-0">
      <div class="col-md-4">
        <img src={{productData.image}} class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body title-desc">
          <h5 class="card-title">{{productData.title}}</h5>
          <p class="card-text">{{productData.description}}</p>
          <p class="card-text"><small class="text-body-secondary">{{productData.category}}</small></p>
          <p style="font-size: 30px">{{productData.price}}$</p>
        </div>
      </div>
    </div>
</div>
<app-footer></app-footer>